<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <wsDualHttpBinding>
            <binding sendTimeout="00:03:00" />
          </wsDualHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MyBehav">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MyBehav" name="PubSubLib.PubSub">
                <clear />
                <endpoint address="PS" binding="wsDualHttpBinding" name="PSEP"
                    contract="PubSubLib.ILongCompute" listenUriMode="Explicit">
                </endpoint>
                <endpoint address="PC" binding="basicHttpBinding" name="PCEP"
                    contract="PubSubLib.IPriceChange" listenUriMode="Explicit">
                </endpoint>
                <endpoint address="SP" binding="wsDualHttpBinding" bindingConfiguration=""
                    name="SPEP" contract="PubSubLib.IStocks" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7060/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>